.cartitems {
  margin: 10px 5%;
}

.cartitems hr {
  height: 3px;
  background: #e2e2e2;
  border: 0;
}

.cartitem-format-main {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
  align-items: center;
  gap: 40px;
  padding: 20px 0px;
  color: #454545;
  font-size: 18px;
  font-weight: 600;
}

.cartitems-format {
  font-size: 17px;
  font-weight: 500;
}

.carticon-product-icon {
  height: 62px;
}

.cartitems-remove-icon {
  width: 15px;
  margin: 0px 20px;
  cursor: pointer;
}

.cartitems-quantity {
  width: 64px;
  height: 50px;
  border: 2px solid #ebebeb;
  background: white;
}

.cartitems-down {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin: 100px 0px;
}

.cartitems-total {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.cartitems-total-item {
  display: flex;
  justify-content: space-between;
  padding: 15px 0px;
}

.cartitems-total button {
  width: 100%;
  max-width: 300px;
  height: 58px;
  outline: none;
  border: none;
  background: #ff5a5a;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.cartitems-promocode {
  flex: 1;
  font-size: 16px;
  font-weight: 500;
  min-width: 280px;
}

.cartitems-promocode p {
  color: #555;
}

.cartitems-promobox {
  width: 100%;
  max-width: 500px;
  margin-top: 15px;
  padding-left: 20px;
  height: 58px;
  background: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cartitems-promobox input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
  width: 60%;
  height: 50px;
}

.cartitems-promobox button {
  width: 40%;
  height: 58px;
  font-size: 16px;
  background: black;
  color: white;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .cartitem-format-main {
    gap: 20px;
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .cartitem-format-main {
    grid-template-columns: 1fr 1fr;
    text-align: left;
    gap: 10px;
  }

  .cartitems-format {
    grid-template-columns: 1fr 1fr;
  }

  .carticon-product-icon {
    height: 50px;
  }

  .cartitems-quantity {
    width: 50px;
    height: 40px;
  }

  .cartitems {
    margin: 10px 20px;
  }

  .cartitems-down {
    flex-direction: column;
    margin: 40px 0px;
  }

  .cartitems-promobox {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }

  .cartitems-promobox input,
  .cartitems-promobox button {
    width: 100%;
    margin: 5px 0;
    height: 45px;
  }
}

@media (max-width: 480px) {
  .cartitem-format-main {
    font-size: 14px;
  }

  .cartitems-total button {
    width: 100%;
  }
}
