.breadcrum {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #5e5e5e;
  font-size: 16px;
  font-weight: 600;
  margin: 60px 170px;
  text-transform: capitalize;
}
.productdisplay-right {
  margin: 0px 70px;
  display: flex;
  flex-direction: column;
}
.productdisplay-right h1 {
  color: #3d3d3d;
  font-size: 40px;
  font-weight: 700;
}
.productdisplay-right-stars {
  display: flex;
  align-items: center;
  margin-top: 13px;
  gap: 5px;
  color: #1c1c1c;
  font-size: 16px;
}
@media (max-width: 1280px) {
  .breadcrum {
    margin: 30px 50px;
    font-size: 14px;
  }
}
@media (max-width: 1024px) {
  .breadcrum {
    margin: 30px 30px;
    font-size: 13px;
  }
}
@media (max-width: 800px) {
  .breadcrum {
    margin: 30px 10px;
    font-size: 12px;
  }
}
@media (max-width: 500px) {
  .breadcrum {
    font-size: 10px;
  }
}
